extends /templates/simulation-template

block title
	- const title = "Heuristics"

block required_scripts
	- const required_scripts = ["01knapsack-heuristic.js", "01knapsack.js", "heuristics-sketch.js"];

block nav_info
	- const current_page = "First Steps";
	- const prev_page = {name: "Algorithms", link: "/algorithms"};
	- const next_page = {name: "Perceptron", link: "/perceptron"};;

block summary
	p.
		Heuristics moment. In the scenario in the simulation, the heuristic is the same about 79% of the time.  It is an average of about 0.38 points below the algorithm.  Talk about how while humans have algorithms, we often also use quicker but less accurate heuristics to solve problems. heuristics can also be programmed into a computer, giving a quicker way to solve a problem. stress that it is still hardcoded into the computer. Talk about time complexity here? Describe simulation. "greedy algorithm"

block instructions
	.col.fw-bold This shows the solutions to the 0-1 knapsack problem found by the algorithm and the heuristic.  Click "Generate" to generate an example where the algorithm and heuristic give different results.
	.col-1
		button.btn.btn-primary(onclick="generate_diff()") Generate
	.col-1
		button.btn.btn-warning.p-1(onclick="restart_sketch()")
			i.bi.bi-arrow-repeat.h4