extends /templates/simulation-template

block title
	- const title = "Heuristics"

block required_scripts
	- const required_scripts = ["01knapsack-heuristic.js", "01knapsack.js", "heuristics-sketch.js"];

block nav_info
	- const current_page = "First Steps";
	- const prev_page = {name: "Algorithms", link: "/algorithms"};
	- const next_page = {name: "Perceptron", link: "/perceptron"};;

block summary
	p.
		Heuristics moment. In the scenario in the simulation, the heuristic is the same about 79% of the time.  It is an average of about 0.38 points below the algorithm.

block instructions
	.col.fw-bold This shows the solutions to the 0-1 knapsack problem found by the algorithm and the heuristic.  Click "Generate" to generate an example where the algorithm and heuristic give different results.
	.col-1
		button.btn.btn-primary(onclick="generate_diff()") Generate
	.col-1
		button.btn.btn-warning.p-1(onclick="restart_sketch()")
			i.bi.bi-arrow-repeat.h4