extends /templates/simulation-template

block title
	- const title = "Heuristics"

block required_scripts
	- const required_scripts = [];

block nav_info
	- const current_page = "First Steps";
	- const prev_page = {name: "Algorithms", link: "/algorithms"};;
	- const next_page = null;

block summary
	p.
		Heuristics moment

block instructions
	.col.fw-bold Instructions
	.col-2
		button.btn.btn-primary Button