extends /templates/simulation-template

block title
	- const title = "Reinforcement Learning"

block required_scripts
	- const required_scripts = ["reinforcement-game.js", "reinforcement-sketch.js"];

block nav_info
	- const current_page = "Learning";
	- const prev_page = {name: "Learning", link: "/supervised-unsupervised"};
	- const next_page = {name: "Perceptron", link: "/perceptron"};

block summary
	p 1

block instructions
	.col.fw-bold Click the blue button to begin the learning process. Click it again to pause learning and show the optimal solution found so far.  The refresh button starts the simulation over.
	.col-3.d-flex.justify-content-center
		.btn-toolbar
			button.btn.btn-primary.m-2#train-test(onclick="switch_mode()") Train
			button.btn.btn-warning.m-2.p-1(onclick="restart_sketch()")
				i.bi.bi-arrow-repeat.h4