extends simulation-template

block title
	- const title = "Algorithms"

block required_scripts
	- const required_scripts = [];

block nav_info
	- const current_page = "First Steps";
	- const prev_page = {name: "Introduction", link: "/intro"};
	- const next_page = {name: "Heuristics", link: "/heuristics"};

block summary
	p.
		ALGORITHMS

block instructions
	.col.fw-bold Instructions
	.col-2
		button.btn.btn-primary Button