extends /templates/template

block title
	- const title = "Conclusion"

block nav_info
	- const current_page = "Conclusion";
	- const prev_page = {name: "Language", link: "/language"};
	- const next_page = null;

block content
	.container.mt-3
		p In 2016, an AI created by Google called AlphaGo beat Lee Sedol, one of the best Go players in the world.  Go is a game much more complicated than chess, so this puts into perspective how intelligent some computers are today.
		p This can easily bring up fears of superintelligent artificial beings trying to take over the world or eliminate humanity as shown in science fiction.  This type of artificial intelligence, called strong AI, is luckily nowhere near actually existing.  For now, AI can only do very specific tasks.  However, it is not without downsides.
		p As AI gets better than humans at performing tasks, jobs are lost to automation.  In addition, there are privacy and security issues with advanced artificial intelligence.  Deepfakes are computer generated images or videos meant to appear real.  Technology to create these is rapidly improving, and with it comes an increased risk of misinformation.  Groups with malicious intent can use deepfakes to make videos of powerful people saying anything they want, and it is very hard to tell the difference between a deepfake and a real video.  In addition, improving facial recognition makes it very easy to track people.  China in particular is using this technology to keep extremely close tabs on people in schools, offices, and other places.  AI controlled autonomous weapons are also a very contentious topic because they give a computer the power to make decisions to kill people.  Many fear that if these weapons are not regulated, an arms race might result that could have devastating consequences.
		p Even with these downsides, AI’s potential for good is enormous. Recent years have seen breakthroughs in the use of AI for diagnosing disease and developing drugs.  Self driving cars in the future could almost eliminate car accidents and save lives.  As long as humanity can figure out how to regulate the negative potential of AI, it will change the world for the better.