extends /templates/template

block title
	- const title = "Conclusion"

block nav_info
	- const current_page = "Conclusion";
	- const prev_page = {name: "Language", link: "/language"};
	- const next_page = null;

block content
	.container.mt-3
		Wrap it all up. Talk about how this is just the tip of the iceberg. Talk about real world uses. winning at go. Also security problems, privacy issues, deepfakes. turing test? end maybe with touching on the idea of strong AI / pop culture idea of ai, we can rest assured that we are nowhere close to this. In all of the simulations, even when computers were showing human levels of ability, they had to be trained specifically for that task, they don't go and do it on their own. Is it even possible (lucas penrose?)?