extends simulation-template

block title
	- const title = "Finn"

block required_scripts
	- const required_scripts = ["finn.js"];

block nav_info
	- const current_page = "Finn";
	- const prev_page = null;
	- const next_page = null;

block summary
	p.
		Finn

block instructions
	.col.fw-bold Click in the box below to create Finns. Click "Drop" to make them fall.
	.col-2
		button.btn.btn-primary(onclick="fall()") Drop