extends /templates/template

block title
	- const title = "Introduction"

block nav_info
	- const current_page = "Introduction";
	- const prev_page = null;
	- const next_page = {name: "Algorithms", link: "/algorithms"};

block content
	.container.mt-3
		INTRO GOES HEREEEEEEE. talk about why it is useful, define intelligence, some history, maybe introduce some things, talk about how the website will work, and how each section shows how a different aspect of intelligence is modeled. you could put a table of contents too if you wanted (you have access to all the links from the navbar, maybe there is a bootstrap ToC).