extends /templates/template

block title
	- const title = "Introduction"

block nav_info
	- const current_page = "Introduction";
	- const prev_page = null;
	- const next_page = {name: "Algorithms", link: "/algorithms"};

block content
	.container.mt-3
		INTRO GOES HEREEEEEEE