extends /templates/template

block title
	- const title = "Simulating Intelligence"

block nav_info
	- const current_page = "Introduction";
	- const prev_page = null;
	- const next_page = {name: "Algorithms", link: "/algorithms"};

block content
	.container.mt-3
		p Merriam-Webster defines intelligence as "the ability to learn or understand or to deal with new or trying situations."  For a long time, this was something that only living things with brains could do.  However, since computers were invented, people have been trying to simulate intelligent behavior. From the beginning, computers could be programmed by creating an algorithm to solve specific problems.  However, more recently, there has been lots of development in machine learning and artificial intelligence.  These simulate learning in the computer, allowing it to find solutions to problems that are difficult to program directly.
		p In the past decades, two factors have led to a major increase in machine learning.  First, computers have gotten much more powerful.  Computation used to be very expensive, with only large institutions having computers.  More recently however, computers got much more efficient and powerful, which allowed for the high computation needs for machines exhibiting intelligent behavior.  Another factor is the availability of data.  Many times, computers can look at extensive amounts of data and use it to create a model that can handle new situations.  With the presence of the internet, tons of data are collected constantly, which can be harnessed by computers using machine learning algorithms.  Today, artificial intelligence and machine learning are everywhere, from voice assistants like Siri and Alexa to healthcare to data analysis, and the field has a lot of active development.
		p The goal of this website is to demonstrate methods for simulating intelligence in computers.  Each page will have a simulation that shows a certain topic.  It will start with algorithms and then move into machine learning to show how a solution to a problem could either be created by a programmer or learned by the computer.  Then the website will explain how neural networks can be used to create a virtual model of a brain which provides a more robust model for computers to learn solutions to problems.  Finally, the website will show how ideas from evolution can be harnessed to develop intelligent behavior as well as how computers can be taught to understand human language.
		p.fw-bold Most simulations are not meant for smaller devices.
