extends /templates/simulation-template

block title
	- const title = "Convolutional Neural Networks"

block required_scripts
	- const required_scripts = ["convolutional-sketch.js", "generate-cnn.js"];
	script(src="https://cdn.jsdelivr.net/npm/@tensorflow/tfjs")

block nav_info
	- const current_page = "Neural Networks";
	- const prev_page = {name: "Feedforward NN", link: "/feedforward"};
	- const next_page = {name:"Object Detection", link: "/object-detection"};

block summary
	p Our brains are especially good at processing images.  Most of the time we don’t even realize as we use our eyes to make sense of the world around us.  However, this turns out to be much harder for computers.  For example, determining if a picture is of a cat or a dog is trivial for a human, but it is hard to describe the classification process to a computer.
	p Since it is hard to create an algorithmic way for a computer to classify images, neural networks are the go-to solution. A neural network can be given lots of data along with labels of either "cat" or "dog" and learn to tell them apart.
	p However, it turns out that regular feedforward networks don’t always perform great when processing images.  When humans identify animals, we look at features such as ears, tails, legs, size, etc. and use those to determine the result.  A regular neural network takes the individual pixels as inputs, which is not abstract enough to easily classify images.
	p Convolutional neural networks (CNNs) solve this problem.  A CNN has convolution layers at the beginning, which process the image into friendlier input than raw pixels, akin to human feature detection.  After the convolution layers, a regular neural network can be used to classify the image with much better results.
	p The simulation shows a convolutional neural network classifying handwritten numerical digits.  I trained this CNN myself using the MNIST dataset and was able to get an accuracy of \(98\%\) on the testing data.  This accuracy goes down when drawing digits myself, but the CNN is still very accurate as long as the digits are drawn centered and clearly.

block instructions
	.col.fw-bold Click “Load” to load my pre-trained model.  Click and drag the mouse to draw a number. Afterwards, click “Clear” to clear the drawing and make a new one.  For best results, make sure the drawn numbers are centered.
	.col-3.d-flex.justify-content-center
		.btn-toolbar
			button.btn.btn-primary.m-2#load(onclick="load()") Load
			button.btn.btn-warning.m-2#clear(onclick="clear_number()" style="display:none") Clear