extends /templates/simulation-template

block title
	- const title = "Feedforward Neural Networks"

block required_scripts
	- const required_scripts = ["feedforward-sketch.js"];
	script(src="https://cdn.jsdelivr.net/npm/@tensorflow/tfjs")

block nav_info
	- const current_page = "Neural Networks";
	- const prev_page = {name: "Perceptron", link: "/perceptron"};
	- const next_page = {name: "idk", link: "/"};

block summary
	p.
		stringing perceptrons together in one direction, this is not done yet, add six hours to psych exploration on march 16th doing this and the perceptron.

block instructions
	.col.fw-bold double based?
	.col-1
		button.btn.btn-warning.p-1(onclick="restart_sketch()")
			i.bi.bi-arrow-repeat.h4