extends /templates/simulation-template

block title
	- const title = "Object Detection"

block required_scripts
	- const required_scripts = ["object-detection-sketch.js"];
	script(src="https://cdn.jsdelivr.net/npm/@tensorflow/tfjs")
	script(src="https://cdn.jsdelivr.net/npm/@tensorflow-models/coco-ssd")

block nav_info
	- const current_page = "Neural Networks";
	- const prev_page = {name: "idk", link: "/"};
	- const next_page = {name: "idk", link: "/"};

block summary
	p.
		TF test. Instead of the button, put a dropdown menu that has different images and a webcam as one of the options

block instructions
	.col.fw-bold Instructions
	.col-1
		button.btn.btn-primary(onclick="") Btn
	.col-1
		button.btn.btn-warning.p-1(onclick="")
			i.bi.bi-arrow-repeat.h4