extends /templates/simulation-template

block title
	- const title = "Object Detection"

block required_scripts
	- const required_scripts = ["object-detection-sketch.js"];
	script(src="https://cdn.jsdelivr.net/npm/@tensorflow/tfjs")
	script(src="https://cdn.jsdelivr.net/npm/@tensorflow-models/coco-ssd")

block nav_info
	- const current_page = "Neural Networks";
	- const prev_page = {name: "idk", link: "/"};
	- const next_page = {name: "idk", link: "/"};

block summary
	p.
		TF test. Instead of the button, put a dropdown menu that has different images and a webcam as one of the options. Have another button to start the simulation because it slows down the whole browser when you do.

block instructions
	.col.fw-bold Instructions
	.col-2
		.btn-toolbar
			button.btn.btn-primary#load-model(onclick="load_model()") Load
			select.form-select.invisible#input-select(style="width:auto;display:inline-block")
				option Webcam
				option(selected) Brady
				option City
				option Family
				option Office
				option People