extends /templates/simulation-template

block title
	- const title = "Object Detection"

block required_scripts
	- const required_scripts = ["object-detection-sketch.js"];
	script(src="https://cdn.jsdelivr.net/npm/@tensorflow/tfjs")
	script(src="https://cdn.jsdelivr.net/npm/@tensorflow-models/coco-ssd")

block nav_info
	- const current_page = "Neural Networks";
	- const prev_page = {name: "idk", link: "/"};
	- const next_page = {name: "idk", link: "/"};

block summary
	p.
		TF test. this shows an example of a cool thing that can be done by neural networks. You could describe how (or at least what) is a SSD model (single-shot detector). Talk about how more data is good for more advanced neural networks, also how better computers is good. The models are also getting better. There are free pre-trained models that can do things such as object detection (see simulation), language processing (put link to this simulation if you end up doing it), etc.
	a(href="https://github.com/tensorflow/tfjs-models") https://github.com/tensorflow/tfjs-models

block instructions
	.col.fw-bold Instructions
	.col-2
		.btn-toolbar
			button.btn.btn-primary#load-model(onclick="load_model()") Load
			select.form-select#input-select(style="width:auto;display:none")
				option Webcam
				option(selected) Brady
				option City
				option Family
				option Office
				option People