extends /templates/simulation-template

block title
	- const title = "Perceptron"

block required_scripts
	- const required_scripts = ["perceptron-sketch.js"];

block nav_info
	- const current_page = "Neural Networks";
	- const prev_page = {name: "Reinforcement Learning", link: "/reinforcement"};
	- const next_page = {name: "Feedforward NN", link: "/feedforward"};

block summary
	p.
		perceptron moment.
	p.
		for perceptron: in this section we will talk about artificial neural networks. the brain is made up of neurons which form networks and allow complex thought. we can simiulate this on a computer. once neural netwroks are created, they can be trained by adjusting parameters to match target data. this use of neural networks falls under supervised learning and is most common, but they can also be used for other types of learning.  the perceptron is essentially the neuron of an artificial neural network and is the building block.  describe the math of a perceptron. simulation.

block instructions
	.col.fw-bold Based?
	.col-1
		button.btn.btn-warning.p-1(onclick="restart_sketch()")
			i.bi.bi-arrow-repeat.h4